mixin header-mobile()
	header.header-mobile.bem.is-hide-desktop&attributes(attributes)
		// Пиши разметку сюда
		.header-mobile__top-bar
			.nav-toggle.dl-trigger
				span.nav-toggle__line
			a.header-mobile__logo(href='#')
				img(src='img/logo-header.png', data-no-retina, alt='Логотип компании')
			.call-back
				a.fa.fa-phone(href='#')
		//- ----------
		//- Navigation
		.header-mobile__menu.hidden
			.header-mobile__menu-wrapper
				#dl-menu.dl-menuwrapper
					ul.dl-menu
						li.header-mobile__menu-item
							a(href='#').header-mobile__menu-link О компании
							ul.dl-submenu
								li.header-mobile__menu-item
									a(href='#') О нас
									ul.dl-submenu
										li.header-mobile__menu-item
											a(href='#') История компании
										li.header-mobile__menu-item
											a(href='#') Признание и награды
										li.header-mobile__menu-item
											a(href='#') Философия бизнеса
										li.header-mobile__menu-item
											a(href='#') Социальная ответственность
										li.header-mobile__menu-item
											a(href='#') Преимущества
								li.header-mobile__menu-item
									a(href='#') Филиалы
									ul.dl-submenu
										li.header-mobile__menu-item
											a(href='#') Москва
										li.header-mobile__menu-item
											a(href='#') Нижний Новгород
										li.header-mobile__menu-item
											a(href='#') Киров
										li.header-mobile__menu-item
											a(href='#') Тверь
										li.header-mobile__menu-item
											a(href='#') Самара
										li.header-mobile__menu-item
											a(href='#') Махачкала
								li.header-mobile__menu-item
									a(href='#') Проекты
								li.header-mobile__menu-item
									a(href='#') Клиенты
								li.header-mobile__menu-item
									a(href='#') Галерея
									ul.dl-submenu
										li.header-mobile__menu-item
											a(href='#') Фотогалерея
										li.header-mobile__menu-item
											a(href='#') Видеогалерея
						li.header-mobile__menu-item
							a(href='#') Команда
							ul.dl-submenu
								li.header-mobile__menu-item
									a(href='#') Маркетинг
								li.header-mobile__menu-item
									a(href='#') Финансы
								li.header-mobile__menu-item
									a(href='#') Юристы
								li.header-mobile__menu-item
									a(href='#') Оценка
						li.header-mobile__menu-item
							a(href='#') Инфоцентр
							ul.dl-submenu
								li.header-mobile__menu-item
									a(href='#') Блог
								li.header-mobile__menu-item
									a(href='#') Вечность
						li.header-mobile__menu-item
							a(href='#') Правовое сопровождение и<br>защита бизнеса
						li.header-mobile__menu-item
							a(href='#') Представление интересов<br>физических лиц
						li.header-mobile__menu-item
							a(href='#') Мероприятия
						li.header-mobile__menu-item
							a(href='#') Контакты
							ul.dl-submenu
								li.header-mobile__menu-item
									a(href='#') Москва
								li.header-mobile__menu-item
									a(href='#') Нижний Новгород
								li.header-mobile__menu-item
									a(href='#') Киров
								li.header-mobile__menu-item
									a(href='#') Тверь
								li.header-mobile__menu-item
									a(href='#') Самара
								li.header-mobile__menu-item
									a(href='#') Махачкала
						li.header-mobile__menu-item
							a(href='#') Личный кабинет
						.header-mobile__contact-information
							ul.header-mobile__menu-list
								li.fa.fa-phone
									a.tel(href='tel:+74959562992') 8 (495) 956-29-92
								li.fa.fa-map-marker
									a.map(href='#') Сеть региональных офисов
						a.english-version(href='#') In English
