.footer{
  background-color: $color-green;

  &__clients{
	background-color: $color-greendark;
	border-top:1px solid $color-border-green;
	border-bottom:1px solid $color-border-green;
	&-list{
		display: table;
		width: 100%;
	}
	&-item{
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	  padding: 40px;
	  @include desktop-mini{
		padding: 30px;
	  }
	  &:first-child{
		padding-left: 0;
	  }
	  &:last-child{
		border-right: none;
		padding-right: 0;
	  }
	}
	&-link{

	}
	&-img{
		//width: 100%;
		max-width: 150px;
	}
  }
  &__info{
	display: flex;
	padding-top: 35px;
	padding-bottom: 35px;
	a{
	  color: $color-footer-text;
	  text-decoration: none;
	}
  }
  &__block{
	width: 25%;
	&:nth-child(1){
	  width: 38%;
	}
	&:nth-child(2){
	  width: 26%;
	}
	&:nth-child(3){
	   width: 31%;
	  padding-left: 10px;
	}
	&:nth-child(4){
	  width: 16%;
	}

  }
  &__phone{
	font-family:$lora;
	font-size: 22px;
  }
  &__address{
	color: $color-footer-text;
	margin-bottom: 22px;
  }
  &__offices{
	.offices__link{
	  border-bottom: 1px solid $color-footer-text;
	  &:hover{
		border-bottom:none;
	  }
	}
  }
  &__call{
	.call__link{
	  border-bottom: 1px dashed $color-footer-text;
	  &:hover{
		border-bottom: none;
	  }
	}
  }
  &__map-site{
	.map-site__link{
	  border-bottom: 1px solid $color-footer-text;
	  &:hover{
		border-bottom: none;
	  }
	}
  }
  &__caption{
	color: $color-footer-caption;
	text-transform: uppercase;
  }
  &__copyright{
	border-top: 1px solid $color-border-green;
	padding: 40px 0 5px;
	color: #6F9089;
	.copyright__matic{
	  float: left;
	  color: #6F9089;
	}
	.copyright__webprofy{
	  float: right;
	  color: #6F9089;

	}
  }
  &__docs {
    padding-bottom: 40px;
    .docs__file {
      display: inline-block;
      &:last-child {
        margin-left: 25px;
      }
    }
  }
  &__social{
	&-list{

	}
	&-item{
	  display: inline-block;
	  margin-right: 9px;
	}
	&-link{
	  background: url("../img/sprite-social.png") no-repeat;
	  background-position-y: center;
	  display: block;
	  width: 22px;
	  height: 22px;
	  &:hover{
		opacity: .8;
	  }

	  &.fb{
		background-position-x: -6px;
	  }
	  &.twitter{
		background-position-x: -40px;
	  }
	  &.in{
		background-position-x: -73px;
	  }
	}
  }
  &__arrow-up{
	position: absolute;
	right: -20px;
	transform: rotate(-90deg);
	cursor: pointer;
	&-text{
	  transform: rotateY(90deg);
	  color: $color-footer-text;

	  span{
		color: $color-footer-text;

	  }
	}
  }
  &__link-webprofy{
	color: $color-footer-text;
	font-weight: bold;
	text-decoration: none;
	padding-left: 5px;
  }
}

.footer-mobile{
   background-color: $color-green;
  padding: 20px 10px 15px 10px;
  .copyright__matic{
	color:  #6E8D88;
	font-size: 12px;

  }
  .footer__caption{
	display: inline-block;
	margin-right: 15px;
	text-decoration: underline;
	color: #809D9D;
    a{
      color: #809D9D;
    }
  }
  .copyright__webprofy{
	border-top: 1px solid #0F494A;
	padding-top: 10px;
    text-align: right;
	.footer__link-webprofy{
	  color:  #809D9D;
	  padding-left: 0;
	}
  }
  .phone__link{
	color: #A5AFAE;
	font-family:$lora;
	font-size: 15px;
  }
}



